.visual-forgePowerbiView4F623CD7FE44432EB2E71CF579A63B03_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-forgePowerbiView4F623CD7FE44432EB2E71CF579A63B03_DEBUG p em {
  background: yellow;
  padding: 5px;
}
